*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Consolas', monospace;
  color: #fff;
}

.wrapper {
  width: 100vw;
  height: 100vh;
}

.wrapper header {
  width: 100vw;
  height: 15vh;
  line-height: 15vh;
  text-align: center;
  background-color: #272727;
}

.wrapper main {
  width: 100vw;
  height: calc(100vh - 15vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper main .color {
  width: 90vw;
  height: 10vh;
  position: relative;
  border-radius: 1em;
  margin-bottom: 2em;
  background-color: #272727;
}

.wrapper main .color h1 {
  font-size: 1.2em;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.wrapper main .change-color {
  width: 32vw;
  height: 8vh;
  text-transform: uppercase;
  border: none;
  border-radius: 1em;
  color: #fff;
  font-family: 'Consolas', monospace;
  font-size: 1em;
  font-weight: bold;
  background-color: #272727;
}

.wrapper main .change-color:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .wrapper main .color {
    width: 60vw;
  }

  .wrapper main .color h1 {
    font-size: 1.4em;
  }

  .wrapper main .color h1 br {
    display: none;
  }

  .wrapper main .change-color {
    width: 20vw;
    font-size: 1.4em;
  }
}

@media (min-width: 1024px) {
  .wrapper main .color {
    width: 70vw;
  }

  .wrapper main .color h1 {
    font-size: 2em;
  }

  .wrapper main .color h1 br {
    display: none;
  }

  .wrapper main .change-color {
    width: 15vw;
    font-size: 1.4em;
  }
}

@media (min-width: 1440px) {
  .wrapper main .color {
    width: 60vw;
  }

  .wrapper main .color h1 br {
    display: none;
  }

  .wrapper main .change-color {
    width: 15vw;
    font-size: 1.5em;
  }
}

@media (min-width: 2560px) {
  .wrapper header h1 {
    font-size: 5rem;
  }

  .wrapper main .color h1 {
    font-size: 4rem;
  }

  .wrapper main .change-color {
    font-size: 3rem;
  }
}
